/*jumbotron*/
.jumbotron{
    background-color: lightblue;
    color: black;    
    margin-top: 50px;
}

/*banner*/
.img-fluid{
    padding-bottom: 15px;
}

/*Botones*/
.btn-reserva{
    width: 100%;
    border-radius: 5px ;    
}
.btn-modal{
    background-color:white;
    border-color: #007bff;
    color: #007bff;
}
/*.btn{
    color: lightcyan;
    background-color: steelblue;
}*/

/*Tarjetas card-hotel*/
.card-hotel{
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    margin-top: 10px;
}
.card-img-top{
    height: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

/*Pestañas*/
.tab-content{
    padding-top: 10px;
}

/*pie de pagina*/
footer{
    padding: 10px 10px 0 10px;
    background-color: lightblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

/*icons - pie de página*/
.footer-address-icon{
    padding-right: 10px;
}