/*jumbotron*/
.jumbotron {
  background-color: #add8e6;
  color: #dfe291;
  margin-top: 50px;
  margin-bottom: 30px;
}
/*banner*/
.img-fluid {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}
/*Botones*/
.btn-reserva {
  width: 100%;
  border-radius: 5px ;
}
.btn-modal {
  background-color: #b6ebd0;
  border-color: #007bff;
  color: #e69494;
}
/*.btn{
    color: lightcyan;
    background-color: steelblue;
}*/
/*Tarjetas card-hotel*/
.card-hotel {
  flex: 1 200px;
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-img-top {
  height: 180px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*Pestañas*/
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
/*pie de pagina*/
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #add8e6;
  margin-top: 10px;
  margin-bottom: 0px;
}
/*icons - pie de página*/
.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
