@blueBtn:  #007bff;
@blueligth: #add8e6;
@white: #ffffff;
@red:#e69494;
@green:#b6ebd0;
@yellow:#dfe291;

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}
.padding(@top, @right, @bottom, @left) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;    
}

/*jumbotron*/
.jumbotron{
    background-color: @blueligth;
    color: @yellow;    
   .margenes(50px, 30px);
}

/*banner*/
.img-fluid{
    .padding(0px, 0px, 15px, 0px);
}

/*Botones*/
.btn-reserva{
    width: 100%;
    border-radius: 5px ;    
}
.btn-modal{
    background-color:@green;
    border-color:@blueBtn;
    color: @red;
}
/*.btn{
    color: lightcyan;
    background-color: steelblue;
}*/

/*Tarjetas card-hotel*/
.card-hotel{
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    .margenes(10px, 0px);
}
.card-img-top{
    height: 180px;
    .margenes(15px, 15px);
    
}

/*Pestañas*/
.tab-content{
    .padding(10px, 0px, 0px, 0px);
}

/*pie de pagina*/
footer{
    .padding(10px, 10px, 0px, 10px);
    background-color: @blueligth;
    .margenes(10px, 0px);
    
}

/*icons - pie de página*/
.footer-address-icon{
    .padding(0px, 10px, 0px, 0px);
}

